<div class="main">
  <div class="container">
  <h2>Available Traders</h2>
    <% @traders.each do |trader| %>
    <div class="trader">
      <%= trader_name trader.name %>
    </div>
    <% end %>
  </div>
</div>
